src/jmagic/app/.phpunit.cache
src/jmagic/app/node_modules
src/jmagic/app/public/build
src/jmagic/app/public/hot
src/jmagic/app/public/storage
src/jmagic/app/storage/*.key
src/jmagic/app/vendor
src/jmagic/app/.env
.env
src/jmagic/app/.env.backup
src/jmagic/app/.env.production
src/jmagic/app/.phpunit.result.cache
src/jmagic/app/Homestead.json
src/jmagic/app/Homestead.yaml
src/jmagic/app/auth.json
src/jmagic/app/npm-debug.log
src/jmagic/app/yarn-error.log
src/jmagic/app/.fleet
src/jmagic/app/.idea
src/jmagic/app/.vscode
outline